html {
    font-size: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
 
h4,
p {
    font-family: $font-Satisfy;
    
}

p{
    color: $lightgrey;
    font-size: 0.9rem;
}

h4{
    color: $pink;
    font-size: 0.88rem;
}

body,
html {
    width: 100%;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    //background-color: $pink;
    overflow-x: hidden;
    background-image: linear-gradient(to right, $lightgrey 0%, $lightgrey calc((100vw / 2) - 108px), $pink calc((100vw / 2) - 108px), $pink 100%,);
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

.button {
    position: relative;
    display: inline-block;
    color: $lightgrey;
    font-weight: 700;
    //font-size: 1.2rem;
    text-align: center;
    line-height: 2rem;
    border-radius: 2.1875rem;
    background-color: $pink;
    padding: 0.1rem 1.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: $pink;

    //transition: box-shadow 300ms ease-in-out;
}

//flexbox
.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-sa {
        justify-content: space-around;
    }
    &-jc-se {
        justify-content: space-evenly;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
    &-ai-sb {
        align-items: space-between;
    }
    &-ai-sa {
        align-items: space-around;
    }
    &-ai-b {
        align-items: baseline;
    }
}

.hide {
    display: none;
}