@keyframes shaking {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.shake {
  animation: shaking 0.5s infinite;
}

@keyframes scalingUp {
  from {
    transform: scale(0);
  }
  to {
    transform: rotate(1);
  }
}
.scaleUp {
  animation: scalingUp 0.5s;
}

@keyframes scalingDown {
  from {
    transform: scale(1);
  }
  to {
    transform: rotate(0);
  }
}
.scaleDown {
  animation: scalingDown 0.5s;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h4,
p {
  font-family: "Satisfy", cursive;
}

p {
  color: hsl(0, 0%, 91%);
  font-size: 0.9rem;
}

h4 {
  color: #D3859C;
  font-size: 0.88rem;
}

body,
html {
  width: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: linear-gradient(to right, hsl(0, 0%, 91%) 0%, hsl(0, 0%, 91%) 20%, #D3859C 20%, #D3859C 100%);
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.button {
  position: relative;
  display: inline-block;
  color: hsl(0, 0%, 91%);
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border-radius: 2.1875rem;
  background-color: #D3859C;
  padding: 0.1rem 1.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: #D3859C;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-sa {
  justify-content: space-around;
}
.flex-jc-se {
  justify-content: space-evenly;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-ai-sb {
  align-items: space-between;
}
.flex-ai-sa {
  align-items: space-around;
}
.flex-ai-b {
  align-items: baseline;
}

.hide {
  display: none;
}

.overlay__bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  background-color: hsla(0, 0%, 100%, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.overlay__container {
  position: fixed;
  left: 2rem;
  right: 2rem;
  top: 50%;
  height: 10.5rem;
  background-color: hsl(0, 0%, 91%);
  border-radius: 1rem;
  z-index: 5;
  box-shadow: 0.4rem 0.4rem 1.1rem rgba(0, 0, 0, 0.3058823529);
}
.overlay__container p {
  color: #D3859C;
  text-align: center;
  font-size: 1.2rem;
}
.overlay__textbox {
  padding: 1rem;
  height: 7rem;
}

.cake {
  width: 100%;
  height: 22rem;
}
.cake__gradient {
  position: fixed;
  z-index: 1;
  left: 48%;
  top: 23.6%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to bottom, #D3859C, #2D345E);
  width: 17rem;
  height: 21rem;
}
.cake__outline {
  position: fixed;
  z-index: 2;
  left: 43%;
  top: 23%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 12rem;
  outline: 0.8rem solid hsl(0, 0%, 91%);
}
.cake__display {
  position: fixed;
  z-index: 3;
  left: 58%;
  top: 23%;
  transform: translate(-50%, -50%);
  background-image: url(./../../images/cupcakes.jpg);
  width: 15rem;
  height: 16rem;
  background-position: -5% 0%;
  background-size: cover;
  box-shadow: 0.4rem 0.4rem 1.1rem rgba(0, 0, 0, 0.3058823529);
}

.poem {
  padding-left: 1.9rem;
}
.poem__wish {
  width: 1.2rem;
  margin-top: -0.2rem;
  height: 1.2rem;
}
.poem__content {
  width: 16rem;
}/*# sourceMappingURL=style.css.map */